/*===========Fuentes de google fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*imagenes hospedaje*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


h2{
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

 
.slider-frame{
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  aspect-ratio: 2/1;
}

.slider-frame ul {
  display: flex;
  width: 400%;
  animation: slide 12s infinite;
}

.slider-frame li {
  list-style: none;
  width: 100%;
}

.slider-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0%, 20% {
    margin-left: 0%;
  }
  25%, 45% {
    margin-left: -100%;
  }
  50%, 70% {
    margin-left: -200%;
  }
  75%, 95% {
    margin-left: -300%;
  }
}




