/*===========Fuentes de google fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  /*============== variables css ===============*/

  :root{  /*root para poder definir las variables*/
   
     --header-height: 3.5rem;
 
      /*========= Colores =========*/

     /*Hue (matiz) → el tipo de color (rojo, verde, azul, etc.) Saturation (saturación) → qué tan intenso o apagado es el color Lightness (luminosidad) → qué tan claro u oscuro es*/
     
     --title-color: hsl(0, 0%,95%);
     --text-color:  hsl(0, 0%, 70%);
     --text-color-light: hsl(0, 0%, 60%);
     --body-color: hsl(0,0%,60%);
      --container-color: hsl(0);
    }

  

 
/*Base de la pagina (Tamaño)*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

/*=========Desplazamiento de la pagina suave==========*/

html{
  scroll-behavior: smooth;
}
 
/*============== variables del body y del boton input ==============*/
body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body{
  background-color: var(--body-color);
}
  /*================ variable del boton ==================*/
button,
input{
 outline: none;
 border: none;
 color: var(--text-color);

}

 /*================ Variables para la titulos subtitulos y comentarios etc ===============*/
h1,h2,h3,h4{
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);

}
/*============== estilo de los links ================*/
ul{
  list-style: none;
}

/*================== para quitar lo azul de las letras (linea)=======================*/
a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* ============= CLASES REUTILIZABLES DEL CSS ===============*/

/*Limitar el ancho de la pagina*/
.container{
  max-width: 1120px;
  margin-inline: 1.5rem; /*aplica margen horizontal (izquierda y derecha).*/  /*Así, el contenedor no queda pegado a los bordes del navegador en pantallas pequeñas.*/
}


.grid{
  display: grid;
  gap: 1.5rem;
}

section{
  padding-block: 5rem 1rem;  /*padding-block agrega espacio vertical (arriba y abajo)*/
}

.section__title{
  text-align: center;
  font-size: var(--h1-font-size);
}