/* Para hacer el reset que es eliminar los parametros de cualquier navegador colocamos el (*)*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*body para elegir el tipo de letra*/

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;

}

/*Header*/

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: antiquewhite;
}


/*Logo*/

.logo{
  max-width: 5rem;
}


 /* nav-links*/

 .nav-links{
list-style-type: none;
display: flex;
gap: 1rem;
}

.nav-links li a{
  text-decoration: none;
  color: #1c1c1c;
}

/*button*/

.abrir-menu{
  display: none;

}

/*Responsive del boton */

@media screen and (max-width: 550px){
  .abrir-menu{
    display: block;
  }
}